body {
    background-color: #fff;
    font-family: "Gill Sans",Arial,tahoma,sans-serif;
    color: #565656;
    line-height:1.07;
    border-top:4px solid #106275;
    margin:0;
}
#container { margin: 0 auto; width: 700px; }
h1 { font-size: 3.8em; color: #565656; margin-bottom: 3px; font-weight:normal; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none; color:#565656; }
h1 a:hover { text-decoration:none; }
h2 { font-size: 2em; color: #565656; font-weight:normal; }
h3 { color: #565656; font-weight:normal; }
a { color: #106275; text-decoration:none; }
a:hover { text-decoration:underline;}
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding:30px 0; font-style: italic; }
.mintdigital { color:#565656; text-transform:uppercase;}
.mintdigital span { color:#106275; }
