<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <a href="http://github.com/mintdigital/asset_hat">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
        src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
        alt="Fork me on GitHub" />
    </a>

    <div id="container">

    <h1>
        <a href="http://github.com/mintdigital/asset_hat">AssetHat</a>
        <span class="small">by
        <a href="http://github.com/mintdigital" class="mintdigital">
            <span>Mint</span>Digital</a>
        </span>
    </h1>

    {{ content }}

    <div class="footer">
        get the source code on GitHub :
        <a href="http://github.com/mintdigital/asset_hat">mintdigital/asset_hat</a>
    </div>

    </div><!-- #container -->

</body>
</html>
